body{
    font-family: 'Syne', sans-serif;
    font-family: 'DM Mono',monospace;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1{
    
    font-family: 'Syne', sans-serif;
    font-size: 100px;
    color:#00ff00;
    padding-bottom: 5px;
    border-top: 2px solid #000000;
}
h2{
    font-family: 'Syne', sans-serif;
    font-size: 70px;
    color:#00ff00;
    padding-bottom: 5px;
    border-top: 2px solid #000000;


}
.sub{
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    color:#00ff00;
    border-top: 2px solid #000000;

}


p{
    font-family: 'Syne', sans-serif;
    font-size: 100px;
    text-align: left;
    line-height: normal;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #00ff00;

}

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery-item {
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    max-width: 600px;
    height: auto;
    border:2px solid #000000;
}

.caption {
    text-align: left;
    font-size: 12pt;
}

.navbar{
    font-family: 'Syne', sans-serif;
    padding-left: 15px;
    border-bottom: 2px solid #00ff00;
}

.navdiv{

    display: flex;
    align-items: center;
    justify-content: space-between;

}
li{
    list-style: none;
    display: inline-block;
}

li a{
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    color: #00ff00;
}



.gallery-container-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    border: 2px solid #00ff00;
}

.gallery-item-ul {
    margin: 10px;
    text-align: center;
}

.gallery-item-ul img {
    
    height: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    height: 100vh;
    color:#00ff00;
    border:2px solid #00ff00;
}

.container_item {
    margin: 10px;
    text-align: center;
    color:#00ff00
}

.container_item img {
    
    height: auto;
}
a{
    font-family: 'Syne', sans-serif;
    font-size: 3em;
    color:#00ff00;
}
.main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-start;
    color:#00ff00;
    max-height: max-content;

}
.main_ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 2%;;


}
.canvas {
    vertical-align: top;

    border:2px solid #00ff00;
  }

.main_ul_1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 2%;;


}

